@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0px;
    padding: 0px;
}
p{
    line-height: 25px;
}

/*first section*/

#section-1{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: white;
    background-image: url("img/banner.png");
    max-width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.menu{
    width: 1170px;
    margin: auto;
    overflow: hidden;
}
.nav-bar{
    margin: 15px 0px;
}
.menu .nav-bar .logo{
    width: 20%;
    display: inline-block;
}
.menu .nav-bar .navigation{
    width: 80%;
    float: right;
    margin: 20px 0px;
}
.menu nav ul{
    float: right;
}
.menu nav ul li{
    display: inline-block;
    float: left;
    padding: 5px 8px;
}
.text{
    text-align: center;
    padding: 200px 0px;
    cursor: pointer;
}
.text h1{
    font-size: 70px;
    font-weight: 900;
}
.text h2{
    font-size: 50px;
}
.text h3{
    font-size: 40px;
}
.text span{
    color: #0b7885;
}
nav ul li:hover{
    color: #0b7885;
    cursor: pointer;
}

/*second section*/

#section-2{
    padding: 80px 0px;
}
.about-top{
    text-align: center;
}
.about-top h2{}
.about-top p{
    padding: 20px 0px;
}
.about-cols{
    text-align: center;
}
.abt-collum{
    width: 25%;
    float: left;
    padding: 40px 0px;
}
.abt-collum i{
    font-size: 60px;
    margin-bottom: 20px;
}
.abt-collum:hover i,
.abt-collum:hover h2{
    color: #0b7885;
    cursor: pointer;
}

/*Service Section*/

#service{
    background-color: #e1e1e1;
    padding: 80px 0px;
}
.service-top{
    text-align: center;
}
.service-top p{
    padding: 20px 0px;
}
.service-cols{
    text-align: center;
}
.srv-collums{
    width: 25%;
    float: left;
    padding: 40px 0px;
}

/*Portfolio Section*/

#portfolio{
    background-color: #fdfafa;
}
.portfolio-top{
    text-align: center;
    padding-top: 80px; 
}
.portfolio-top p{
    padding: 20px 0px;
}
.btn-group{
    text-align: center;
}
.btns{
    background-color: #010101;
    color: white;
    padding: 10px 5px;
    margin: 40px 4px;
    width: 14%;
    float: left;
    text-align: center;
}
.btns:hover{
    background-color: #0b7885;
    cursor: pointer;
}

.portfolio-cols{
    padding-bottom: 40px;
    text-align: center;
}
.portfolio-collum-1{
    float: left;
    margin: 10px 10px;
}

/*Pricing Section*/

#pricing{
    background-color: #fdfafa;
    padding-bottom: 20px;
}
.pricing-top{
    text-align: center;
    padding-top: 120px;
}
.pricing-top p{
    padding: 20px 0px;
}
.pricing-cols{
    margin: 20px auto;
    text-align: center;
}
.pricing-collum{
    display: inline-block;
    width: 22%;
    height: auto;
    background-color: #39393a;
    text-align: center;
    color: white;
    padding: 20px 0px;
    border-radius: 5px;
    margin: 20px 10px;
}
.pricing-collum:hover{
    background-color: #0b7885;
}
.pricing-collum h3{ 
    border: 5px solid white;
    border-radius: 50%;
    display: inline-block;
    width: 120px;
    height: 120px;
    text-align: center;
    margin: 5% auto 0 auto;
    line-height: 100px;
}
.pricing-collum:hover h3{
    background-color: white;
    color: #0b7885;
}
.pricing-collum h4{
    text-decoration: underline;
    padding: 15px 0px;
}
.pricing-collum button{
    font-weight: bold;
    padding: 5px 10px;
}

/*Fourth Box Section*/

#box-section{
    background-color: #0d2a27;
    color: white;
}
.fourth-cols{
    padding: 100px 0px;
    text-align: center;
}
.frth-collum{
    display: inline-block;
    width: 22%;
    height: 100px;
    border: 2px solid #3a514f;
    text-align: center;
    padding: 5px 8px;
    margin: 5px;
    background-color: #0b1f1d;
}
.frth-collum, h2{
    margin-top: 25px;
}

/*Contact Section*/

#contact-section{
    padding: 80px 0px;
    background-color: #fdfafa;
}
.contact-top{
    text-align: center;
}
.contact-top p{
    padding: 20px 0px;
}
.contact-cols{
    text-align: center;
    padding: 50px 0px;
}
.contact-collum{
    display: inline-block;
    width: 25%;
    float: left;
    padding: 40px 0px;
}
.contact-collum h6{
    padding: 8px 0px;
}
.contact-collum i{
    font-size: 60px;
    margin-bottom: 20px; 
}
.contact-collum:hover i,
.contact-collum:hover h4{
    color: #0b7885;
    cursor: pointer;
}

/*Form Section*/

#form-section{
    padding: 80px 0px;
}
.form-cols{}
input[type=text]{
    width: 100%;
    padding: 10px 20px;
    margin: 5px 0;
}
input[type=email]{
    width: 100%;
    padding: 10px 20px;
    margin: 5px 0;
}
input[type=tel]{
    width: 100%;
    padding: 10px 20px;
    margin: 5px 0;
}
.form-collum{
    width: 50%;
    float: left;
    box-sizing: border-box;
    padding: 0 35px;
}
.message textarea{
    width: 100%;
}
.message textarea[placeholder=Message]{
    padding: 5px 10px;
}
.submit-buttons input{
    padding: 5px 10px;
}
.submit-buttons input:hover{
    background-color: #0b7885;
    color: white;
    padding: 5px 10px;
}

/*Google Map Section*/

#map-section .maps{
    position: relative;
    height: 550px;
}
.maps iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 550px;
}

/*Footer Section*/

#footer-section{
    background-color: #000101;
    color: white;
}
.footer{
    text-align: center;
}
.footer p{
    display: inline-block;
    line-height: 3;
}
.footer-link{
    float: right;
}
.footer-link i{
    color: white;
    float: left;
    line-height: 3;
    padding: 0px 8px;
}




